.contact h1 {
    font-family: 'Saira Condensed',
        sans-serif;
    font-size: 30px;
    color: #1e1e1e;
    padding: 20px;
    display: block;
    text-transform: uppercase;
    width: 100%;
    background-color: teal;
    color: wheat;
    text-align: center;
    margin-bottom: 20px;
}

.contact {
    min-height: inherit;
    overflow: hidden;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

.wrap {
    background-color: #1e1e1e;
    padding: 0px 20px 30px;
    max-width: 1024px;
    margin: auto 0;
}

.contact input,
.contact button,
.contact textarea {
    width: 100%;
    margin-bottom: 25px;
    font-family: 'Saira',
        sans-serif;
    padding: 5px;
    font-size: 12px;

}

.social img {
    width: 50px;
}

.contact input {

    height: 36px;

}

.contact textarea {
    height: 120px;
}

.contact button {
    line-height: 40px;
    font-size: 20px;
    color: white;
    background-color: #1e1e1e;
    border: 2px solid white;
    text-transform: uppercase;
}

.contact button:hover {

    background-color: white;
    color: #1e1e1e;
}

.contact .socials {
    padding-top: 30px;
}

.contact .social {
    padding: 10px 0;
    color: white;
    font-family: 'Saira',
        sans-serif;
    float: left;
    font-size: 0;
}

.contact .socials img {
    float: left;
}

.contact .socials span {
    line-height: 72px;
    padding-left: 20px;
    float: left;
    font-size: 12px;
}

@media (min-width: 533px) {
    .content .socials {
        display: inline-block;
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .wrap {
        margin: auto;
    }

    .contact form,
    .contact .socials {
        float: left;
        width: 50%;
        padding: 40px
    }

    .contact form {
        font-size: 40px;
    }

    .contact textarea {
        height: 240px;
    }

}

footer {
    display: block;
    text-align: center;
    line-height: 100%;
    padding: 20px;
    background-color: teal;
    font-family: saira, sans-serif;
    color: wheat;
}
