@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&family=Saira:ital,wght@0,300;1,100&display=swap');


/* ogolne */

* {
  margin: 0;
  padding: 0;
  font-family: 'Saira Condensed', sans-serif;
}

h1,
h2 {
  font-family: 'Saira Condensed',
    sans-serif;
}

p {
  font-family: 'Saira', sand-serif;
}

html {
  background-color: cyan;
}

body>* {
  min-height: 600px;
}


body {
  display: flex;
  flex-direction: column;
  /* max-width: 3000px; */
  margin: 0 auto;
  --szerokosc: 100vw;
  width: 100vw;
  /* scrollbar width  */
  --pasekWys: 40px;
  /* Delivering optimized and effective websites */
}

/* naglowek */

header {

  position: relative;
  background-color: teal;
  color: wheat;
  height: calc(100vh - var(--pasekWys));
  overflow: hidden;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: auto;
  min-height: 1000px;

}

header div {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  height: 400px;
}

header img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 40vh;
  min-height: 500px;
}

header p.welcome {
  font-size: 40px;
  font-family: 'Saira Condensed', sans-serif;
}

header h1 {
  font-size: 40px;
  font-family: 'Saira Condensed', sans-serif;
  text-transform: uppercase;
  justify-self: flex-start;
}

header h2 {
  display: block;
  font-size: 40px;
  font-family: 'Saira Condensed', sans-serif;
  text-transform:
    uppercase;
  align-self: flex-end;
  text-shadow: 2px 2px transparent;
  animation: webdev 3s infinite;
}

header button {
  display: block;
  background-color: teal;
  color: wheat;
  border: 1px solid wheat;
  padding: 10px 20px;
  font-size: 19px;
  margin-top: 90px;
  width: 200px;
  cursor: pointer;
  transition: 0.2s;
}

header button:hover {
  color: teal;
  background-color: wheat;
}

@keyframes webdev {
  0% {
    text-shadow: 3px 2px red;
  }

  50% {
    text-shadow: 2px 3px blue;
  }

  100% {
    text-shadow: 2px 2px red;
  }

}


/* sekcja technologia */

main section.technology h1 {
  display: block;
  width: 100vw;
  background-color: wheat;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  justify-items: center;
  height: var(--pasekWys);
  /* padding: calc(var(--pasekWys) / 2); */
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: white;
}

main section {
  height: 100vh;
  display: flex;
  min-height: 1000px;
}

main section.technology {
  flex-wrap: wrap;
  flex-direction: column;
}


main section.technology .example {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section.technology .example img {
  width: 300px;
  transition: 0.2s;
}

main section.technology .example img:hover {
  opacity: 0.6;
}

.technology .example p {
  display: block;
  width: 400px;
}

div.clearfix img {
  width: 10px;
}

.green {
  background-color: limegreen;
}